.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}
form .field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

form input{
    background-color:transparent;
    color: white;
    outline: none;
    border: none ;
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;

}

 .form-button button{
    background-color: #080808;
    outline: none;
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

}

.form-button button:hover{
        transform: scale(1.05);
        background-color: rgba(255,255,255,0.2);
}